<!-- CTA Section -->
<section class="cta-section">
  <h3>Jangan Cuma Nonton. Ayo Ikut Nimpa!</h3>
  <p>
    Tunjukkan karyamu, dapatkan masukan jujur, dan lihat seberapa cepat skill-mu
    berkembang. DTT adalah tempatnya para desainer yang serius untuk jadi lebih
    baik, bukan sekadar memuji.
  </p>
  <div class="cta-buttons">
    <button class="cta-button">Gabung komunitas</button>
    <a href="/daftar" class="secondary-button">Ayo Daftar Sekarang!</a>
  </div>
</section>

<!-- modal div -->
<div id="lightbox" class="lightbox">
  <span class="close-button">&times;</span>
  <img class="lightbox-content" id="lightbox-img" />
</div>

<div id="join-modal" class="modal">
  <div class="modal-content">
    <span class="close-modal-button">&times;</span>
    <h2>Bergabung dengan Komunitas DTT!</h2>
    <p>
      Pilih platform di bawah ini untuk bergabung dengan ribuan desainer
      lainnya, berkolaborasi, dan tingkatkan skill Anda bersama kami.
    </p>
    <div class="modal-actions">
      <a href="https://discord.gg/FwDBBNyh" class="cta-button modal-button"
        >Join Discord</a
      >
      <a
        href="https://www.instagram.com/dtt.studio?igsh=MW43Zjh6YjZ1bnBicA=="
        class="secondary-button modal-button">Follow Instagram</a
      >
    </div>
  </div>
</div>
