<!-- Footer -->
<footer id="kontak">
  <div class="footer-grid">
    <div class="footer-column">
      <h4>DTT</h4>
      <p style="color: #aaa; line-height: 1.6; margin-bottom: 1.5rem">
        DTT (Desainer Timpa Timpa) adalah komunitas bagi desainer grafis di
        Indonesia untuk berkolaborasi, berbagi karya, dan belajar bersama.
        Gabung sekarang!
      </p>
      <div class="social-links">
        <a href="https://www.instagram.com/dtt.studio?igsh=MW43Zjh6YjZ1bnBicA=="
          ><i class="fab fa-instagram"></i></a
        >
        <a href="https://discord.gg/FwDBBNyh"><i class="fab fa-discord"></i></a>
      </div>
    </div>
    <div class="footer-column">
      <h4>Quick Links</h4>
      <ul class="footer-links">
        <li><a href="#">Beranda</a></li>
        <li><a href="#">Tentang DTT</a></li>
        <li><a href="#">Event</a></li>
        <li><a href="../components/Gallery.astro">Galeri Karya</a></li>
        <li><a href="#">Blog Desain</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Kategori Desain</h4>
      <ul class="footer-links">
        <li><a href="#">UI/UX Design</a></li>
        <li><a href="#">Graphic Design</a></li>
        <li><a href="#">Motion Graphics</a></li>
        <li><a href="#">Illustration</a></li>
        <li><a href="#">Poster</a></li>
        <li><a href="#">Manipulation</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Kontak</h4>
      <ul class="footer-links">
        <li><a href="#">web.com blm dibuat forto</a></li>
        <li><a href="#">komun</a></li>
        <li><a href="#">Indonesia</a></li>
        <li><a href="#">Virtual</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    © 2025 DTT - Desainer Timpa Timpa. All rights reserved.
  </div>
</footer>

<script
  is:inline
  src="https://kit.fontawesome.com/9fe38aad02.js"
  crossorigin="anonymous"></script>
