<!-- Header Section -->
<header id="beranda">
  <img class="gallery-logo" src="assets/DTT-logo-White.png" alt="logo DTT" />

  <button class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div class="nav">
    <!-- <a href="#beranda">Beranda</a> -->
    <a href="#tentang">Tentang</a>
    <a href="#galeri">Galeri</a>
    <a href="#event">Event</a>
    <a href="#kontak">Kontak</a>
  </div>
</header>

<script is:inline>
  // --- LOGIKA UNTUK MENU HAMBURGER ---
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".nav");

  if (hamburger && navMenu) {
    hamburger.addEventListener("click", () => {
      hamburger.classList.toggle("active");
      navMenu.classList.toggle("active");
    });
  }

  // --- LOGIKA UNTUK SMOOTH SCROLL ---
  const navLinks = document.querySelectorAll('.nav a[href^="#"]');
  navLinks.forEach((link) => {
    link.addEventListener("click", function (event) {
      event.preventDefault();
      const targetId = this.getAttribute("href");
      const targetElement = document.querySelector(targetId);

      if (targetElement) {
        // Menutup menu hamburger di mobile saat link diklik
        if (hamburger && navMenu) {
          hamburger.classList.remove("active");
          navMenu.classList.remove("active");
        }

        targetElement.scrollIntoView({ behavior: "smooth", block: "start" });
      }
    });
  });
</script>
