<!-- Header Section -->
<header id="beranda">
  <img class="gallery-logo" src="assets/DTT-logo-White.png" alt="logo DTT" />

  <button class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div class="nav">
    <!-- <a href="#beranda">Beranda</a> -->
    <a href="#tentang">Tentang</a>
    <a href="#galeri">Galeri</a>
    <a href="#event">Event</a>
    <a href="#kontak">Kontak</a>
  </div>
</header>
