<!-- Hero Section -->
<section class="hero">
  <h2>Tempat <span>Kreativitas</span> Berkumpul</h2>
  <p>
    Merasa buntu atau butuh perspektif baru untuk karyamu? Kamu tidak sendirian.
    DTT adalah wadah bagi para desainer untuk saling memberi masukan,
    berkolaborasi dalam proyek seru, dan mendorong satu sama lain melewati batas
    kreativitas.
  </p>
  <!-- <button class="cta-button">Bergabung dengan DTT</button> -->
</section>
