<!-- Testimoni -->
<section class="testimonials">
  <h3 class="section-title">Apa Kata Anggota DTT</h3>
  <div class="testimonial-card">
    <p class="testimonial-quote">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
      porro cumque, qui eum culpa esse quod. Minima odio id obcaecati quasi ipsa
      saepe exercitationem, praesentium quae perferendis facilis eos mollitia!
    </p>
    <div class="testimonial-author">
      <div class="author-avatar">D</div>
      <div class="author-info">
        <h4>Kin</h4>
        <p>Poster disener</p>
      </div>
    </div>
  </div>
</section>
