<!-- Testimoni -->
<section class="testimonials">
  <h3 class="section-title">Apa Kata Anggota DTT</h3>
  <div class="testimonial-card">
    <p class="testimonial-quote">
      Sebagai desainer grafis, saya sering merasa bekerja sendirian. Sejak masuk
      DTT, semuanya berubah. Atmosfernya sangat suportif, dan saya jadi kenal
      banyak desainer hebat dari seluruh Indonesia. Sekarang saya bahkan sedang
      mengerjakan proyek kolaborasi bareng anggota lain yang saya temui di sini.
      Benar-benar tempat untuk menemukan 'rekan kreasi'.
    </p>
    <div class="testimonial-author">
      <img
        class="author-avatar"
        src="../../public/assets/mancc.rv.jpg "
        alt="profil user"
      />

      <div class="author-info">
        <h4>mancc.rv</h4>
        <p>Poster Desainer</p>
      </div>
    </div>
  </div>
</section>
