---
// File Layout.astro yang bersih
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desainer Timpa Timpa</title>
    <link rel="icon" type="image/png" href="/assets/DTT-logo-white.png" />
    <meta
      name="description"
      content="DTT (Desainer Timpa Timpa) adalah komunitas bagi desainer grafis di Indonesia untuk berkolaborasi, berbagi karya, dan belajar bersama. Gabung sekarang!"
    />

    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
